<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Webserver Error Page</title>
</head>
<style>
    input {
        padding: 12px;
    }

    #container {
        width: 800px; height: 400px; margin: 100px auto;
        padding-top: 50px;
    }

    .border-rounded, .border-rounded>*>* {
        border: none;
        border-radius: 10px;
    }

    input[type="submit"], #back {
        margin: 12px;
        background: navy;
        color: white;
        width: 80px;
    }
</style>
<body style="text-align: center;">
<div class="border-rounded" id="container">
    <h2>Der folgende Fehler ist aufgetreten:</h2>
    <h5 th:if="${error}" th:text="${error}"></h5>
    <button id="back" class="border-rounded" onclick="history.back()">zurück</button>
</div>
</body>
</html>