<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Webserver Welcome Page</title>
</head>
<style>
    input {
        padding: 12px;
    }

    #container {
        width: 800px; height: 400px; margin: 100px auto;
        padding-top: 50px;
        background: rgb(120,180,255);
    }

    .border-rounded, .border-rounded>*>* {
        border: none;
        border-radius: 10px;
    }

    input[type="submit"] {
        margin: 12px;
        background: navy;
        color: white;
        width: 80px;
    }
</style>
<body style="text-align: center;">
<div class="border-rounded" id="container">
    <h2>FriendBook</h2>
    <form method="post" action="/register">
        <h4>Username:</h4>
        <input name="username" minlength="6" required type="text">
        <h4>Password:</h4>
        <input name="password" minlength="8" required type="password">
        <br>
        <input id="submit" type="submit" value="register">
    </form>
</div>
</body>
</html>